<mat-card class="example-card">
    <button mat-raised-button class="btn-back" [routerLink]="['..','list']">Home</button>
    <mat-card-content class="atas">
        <form [formGroup]="form">
            <mat-form-field class="example-full-width">
                <mat-label>ID</mat-label>
                <input type="text" matInput formControlName="id">
                <mat-hint>ex : 124200007</mat-hint>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput formControlName="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="text" matInput formControlName="email">
                <mat-error *ngIf="emailFormControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Age</mat-label>
                <input type="text" matInput formControlName="age">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label>Gender</mat-label>
                <mat-radio-button value="Male">Male</mat-radio-button>
                <mat-radio-button value="Female">Female</mat-radio-button>
                <mat-radio-button value="Rahter Not Say">Rather Not Say</mat-radio-button>
            </mat-radio-group>
            <mat-form-field class="example-full-width">
                <mat-label>Position</mat-label>
                <mat-select formControlName="position">
                    <mat-option *ngFor="let pos of poss" [value]="pos.value">
                        {{pos.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Marital Status</mat-label>
                <mat-select formControlName="marital">
                    <mat-option value="Married"> Married </mat-option>
                    <mat-option value="Single"> Single </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field apperance="legacy">
                <mat-label>Email</mat-label>
                <input matInput formControlName="Email" placeholder="">
                <mat-hint>Hint</mat-hint>
            </mat-form-field>
            <ul formArrayName="addresgrup">
                <li *ngFor="let group of addres.controls; let idx = index" [formGroupName]="idx">
                    <mat-form-field class="example-full-width">
                        <mat-label>Addres</mat-label>
                        <input type="text" matInput formControlName="addres">
                    </mat-form-field>
                    <mat-form-field class="half">
                        <mat-label>Zip</mat-label>
                        <input type="text" matInput formControlName="zip">
                    </mat-form-field>
                    <mat-form-field class="half">
                        <mat-label>City</mat-label>
                        <input type="text" matInput formControlName="city">
                    </mat-form-field>
                    <mat-form-field class="half" id="end">
                        <mat-label>Provinsi</mat-label>
                        <input type="text" matInput formControlName="country">
                    </mat-form-field>
                </li>
            </ul>
        </form>
    </mat-card-content>
</mat-card>
<div class="butt">
    <button mat-raised-button [routerLink]="['..','list' ]" (click)="submit()" class="sbm">Submit</button>
</div>