*{
    color: #1212f5;
}

.example-card {
    width: 70%;
    justify-content: center;
    align-items: center;
    border: 1px solid #191919;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.btn-back {
    color: #E7F6F2;
    background-color: #1212f5;
}

.btn-back:hover {
    background-color: #080808;
    transform: scale(1.02)
}

input{
    width: 100%;
}

.example-full-width {
    width: 100%;
}

mat-radio-button{
    margin-left: 30px;
}

ul{
    list-style-type:none;
    border: 1px solid rgba(99, 98, 98, 0.512);
    padding-inline-start: 15px;
    padding-inline-end: 15px;
    border-radius: 5px;
    
}

li{
    margin-top: 10px;
}

.half{
    width: 30.5%;
    margin-right: 19px;
    
}

#end{
    margin-right: 0px;
}

.sbm{
    width: 600px;
    margin-top: 20px;
    background-color: #1212f5;
    color: #E7F6F2;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.sbm:hover {
    background-color: #1212f5;
    transform: scale(1.02)
}

.butt{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.example-spacer{
    flex: 1 1 auto;
}

.atas{
    margin-top: 20px;
}