*{
    scroll-behavior: smooth;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: #c8f500;
    color: black;
}

.content {
    color: #2C3333;
    height: 100%;
    padding: 2rem;
}