ul{
    list-style-type: none;
    padding-inline-start: 0px;
}
mat-card{
    margin-bottom: 10px;
    width: 230px;
    margin-right: 10px;
    text-align: center;
}
.container{
    width: 80%px;
    display: flex;
    flex-wrap: wrap;
    border-spacing: 20px;
    justify-content: center;
    background-color: #acb4b5;
    padding: 30px;
}
h1{
    text-align: center;
}
table{
    margin-top: 10px;
    border-spacing: 15px;
}
.addUser{
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
h2{
    margin-bottom: 0px;
}
tr,td{
    width: 100px;
    text-align: center;
}
mat-icon{
    transform: scale(2);
}

span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: semibold;
}
.example-spacer{
    flex: 1 1 auto;
}

h3{
    text-align: center;
}

#ubah{
    color:blueviolet ;
}
#dtl{
    color:crimson;
}

.btn-add {
    background-color: #c8f500;
    color: black;
}

.btn-add:hover {
    background-color: #c8f500;
    transform: scale(1.02)
}