<p>edit works!</p>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <mat-card>
        <mat-card-title>EDIT</mat-card-title>
        <form [formGroup]="dataedit">
          <mat-card-content>
            <div class="row">
              <mat-form-field appearance="outline">
                <mat-label>Judul</mat-label>
                <input matInput formControlName="title" placeholder="{{data.title}}">
                <mat-hint>Judul berita</mat-hint>
              </mat-form-field><br>
            </div>
            <div class="row mt-3">
              <mat-form-field appearance="fill">
                <mat-label>Isi Konten</mat-label>
                <textarea matInput formControlName="content">{{data.content}}</textarea>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="ngOnEdit()">Edit</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
  <div class="col-3"></div>